@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #00ffc5 #0f172a;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #0f172a;

}

*::-webkit-scrollbar-thumb {
  background-color: #00ffc5;
  border-radius: 5px;
  border: 3px solid #11192e;
}

body {
  margin: 0px;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

.text-stroke-slate {
  -webkit-text-stroke: 1px #9fc4f8;
}


/*Override Material UI*/
.MuiTab-root.Mui-selected {
  color: #149577;
  -webkit-text-stroke: 1px #ebef92;
  font-weight: bold;
  transition: 1100ms;
}

.tagcloud--item:hover {
  color: #149577;
  -webkit-text-stroke: 1px #ebef92;
  font-weight: bold;
  transition: 100ms;
}
